@import "tailwindcss";

@theme {
  --font-inter: "inter", sans-serif;
  --font-is: "instrument_sans", sans-serif;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/Inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-i";
  src: url("../fonts/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "instrument_sans";
  src: url("../fonts/InstrumentSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "instrument_sans-i";
  src: url("../fonts/InstrumentSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}